<div style="text-align: center; background-color: #750E21; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  FINAL PROJECT: RESEARCHING ON HOTEL BOOKING DEMAND üìå
</div>

<div style="text-align: center; background-color: #0766AD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing üìå
</div>

## **IMPORT LIBRARY** üéÑ

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

## **OVERAL INSIGHT INTO DATA** üìù

<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding: 20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
  1. Read raw data üî•
</div>

In [6]:
pd.set_option('display.max_columns', None)
raw_df = pd.read_csv('./data/raw.csv')
raw_df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

## **LET'S PROCESS** üìù

<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding: 20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
  3. Does the raw data have duplicate rows? üßÆ
</div>

In [11]:
num_duplicated_rows = raw_df.duplicated().sum()
print(f'Number of duplicated rows: {num_duplicated_rows}')

Number of duplicated rows: 31994

In [13]:
duplicate_rows = raw_df[raw_df.duplicated()]
duplicate_rows

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,Meal,Country,MarketSegment,DistributionChannel,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,ReservedRoomType,AssignedRoomType,BookingChanges,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
5,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,0,72,2015,July,27,1,2,4,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,A,A,1,No Deposit,250,NULL,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,0,70,2015,July,27,2,2,3,2,0.0,0,HB,ROU,Direct,Direct,0,0,0,E,E,0,No Deposit,250,NULL,0,Transient,137.00,0,1,Check-Out,2015-07-07
138,1,5,2015,July,28,5,1,0,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240,NULL,0,Transient,97.00,0,0,Canceled,2015-07-01
200,0,0,2015,July,28,7,0,1,1,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,NULL,0,Transient,109.80,0,3,Check-Out,2015-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119349,0,186,2017,August,35,31,0,3,2,0.0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,NULL,0,Transient,126.00,0,2,Check-Out,2017-09-03
119352,0,63,2017,August,35,31,0,3,3,0.0,0,BB,SWE,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,NULL,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119353,0,63,2017,August,35,31,0,3,3,0.0,0,BB,SWE,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,NULL,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119354,0,63,2017,August,35,31,0,3,3,0.0,0,BB,SWE,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,NULL,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119373,0,175,2017,August,35,31,1,3,1,0.0,0,BB,NLD,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,42,NULL,0,Transient,82.35,0,1,Check-Out,2017-09-04

In [14]:
raw_df = raw_df.drop_duplicates()

<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding-left: 20px; padding-bottom:10px;padding-top:10px;font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
  5.  What data type does each column currently have? üßÆ
</div>
<div style="text-align: left; font-family: 'Trebuchet MS', Arial, sans-serif; color: #8C3333; padding-left: 20px; padding-bottom:20px; font-size: 25px; font-weight: bold; border-radius: 0 0 0 0; background-color: #AFC8AD">
      Are there any columns whose data types are not suitable for further processing? üßÆ
</div>

üëÄ We will take a look at the data type of each column

In [15]:
raw_df.dtypes

IsCanceled                       int64
LeadTime                         int64
ArrivalDateYear                  int64
ArrivalDateMonth                object
ArrivalDateWeekNumber            int64
ArrivalDateDayOfMonth            int64
StaysInWeekendNights             int64
StaysInWeekNights                int64
Adults                           int64
Children                       float64
Babies                           int64
Meal                            object
Country                         object
MarketSegment                   object
DistributionChannel             object
IsRepeatedGuest                  int64
PreviousCancellations            int64
PreviousBookingsNotCanceled      int64
ReservedRoomType                object
AssignedRoomType                object
BookingChanges                   int64
DepositType                     object
Agent                           object
Company                         object
DaysInWaitingList                int64
CustomerType                    object
ADR                            float64
RequiredCarParkingSpaces         int64
TotalOfSpecialRequests           int64
ReservationStatus               object
ReservationStatusDate           object
dtype: object

üëÄ To have a clearer understanding of the columns with object type, we will analyse into smaller type.

In [19]:
def open_object_dtype(s):
    dtypes = set()
    dtypes.update(s.apply(type))
    return dtypes

raw_df[raw_df.dtypes.index[raw_df.dtypes == object]].apply(open_object_dtype)

ArrivalDateMonth                          {<class 'str'>}
Meal                                      {<class 'str'>}
Country                  {<class 'float'>, <class 'str'>}
MarketSegment                             {<class 'str'>}
DistributionChannel                       {<class 'str'>}
ReservedRoomType                          {<class 'str'>}
AssignedRoomType                          {<class 'str'>}
DepositType                               {<class 'str'>}
Agent                                     {<class 'str'>}
Company                                   {<class 'str'>}
CustomerType                              {<class 'str'>}
ReservationStatus                         {<class 'str'>}
ReservationStatusDate                     {<class 'str'>}
dtype: object

### üìà Some comments:
- Most of the columns has the correct data type.
- The `IsCancelled`, `IsRepeatedGuest` columns should be in bool data type.
- The `ReservationStatusDate` column should be in date-time data type.
- The `Childrean` column should be in integer data type.
- The `Country` column should be in string data type.

| Feature | Correct data type | 
|:--------:|:--------:|
|  `IsCanceled`   |  False (convert to bool)   |
|  `LeadTime`   |  True   |
|  `ArrivalDateYear`   |  True   |
|  `ArrivalDateMonth`   |  True  |
|  `ArrivalDateWeekNumber`   |  True   |
|  `ArrivalDateDayOfMonth`   |  True   |
|  `StaysInWeekendNights`   |  True   |
|  `StaysInWeekNights`   |  True   |
|  `Adults`   |  True   |
|  `Children`   |  False (convert to int)   |
|  `Babies`   |  True   |
|  `Meal`   |  True   |
|  `Country`   |  False (convert to string)   |
|  `MarketSegment`   |  True   |
|  `DistributionChannel`   |  True   |
|  `IsReatedGuest`   |  False (convert to bool)   |
|  `PreviousCancellations`   |  True   |
|  `PreviousBookingsNotCancelled`   |  True   |
|  `ReservedRoomType`   |  True   |
|  `AssignedRoomType`   |  True   |
|  `BookingChanges`   |  True   |
|  `DepositType`   |  True   |
|  `Agent`   |  True   |
|  `Company`   |  True   |
|  `DaysInWaitingList`   |  True   |
|  `CustomerType`   |  True   |
|  `ADR`   |  True   |
|  `RequiredCarParkingSpaces`   |  True   |
|  `TotalOfSpecialRequests`   |  True   |
|  `ReservationStatus`   |  True   |
|  `ReservationStatusDate`   |  False (convert to date-time)   |

- So let's convert our data into their correct data type.

In [24]:
# Convert to date-time
raw_df['ReservationStatusDate'] = pd.to_datetime(raw_df['ReservationStatusDate'], format='%Y-%m-%d')

# Convert to bool
raw_df['IsCanceled'] = raw_df['IsCanceled'].astype(bool)
raw_df['IsRepeatedGuest'] = raw_df['IsRepeatedGuest'].astype(bool)

# Convert to int
raw_df['Children'] = raw_df['Children'].astype('Int64')

#Convert to string
raw_df['Country'] = raw_df['Country'].replace(to_replace=np.nan, value='')

üëÄ After converting our data to their correct type, let's take a look again of the data types.

In [25]:
raw_df.apply(open_object_dtype)

IsCanceled                                                      {<class 'bool'>}
LeadTime                                                         {<class 'int'>}
ArrivalDateYear                                                  {<class 'int'>}
ArrivalDateMonth                                                 {<class 'str'>}
ArrivalDateWeekNumber                                            {<class 'int'>}
ArrivalDateDayOfMonth                                            {<class 'int'>}
StaysInWeekendNights                                             {<class 'int'>}
StaysInWeekNights                                                {<class 'int'>}
Adults                                                           {<class 'int'>}
Children                       {<class 'int'>, <class 'pandas._libs.missing.N...
Babies                                                           {<class 'int'>}
Meal                                                             {<class 'str'>}
Country                                                          {<class 'str'>}
MarketSegment                                                    {<class 'str'>}
DistributionChannel                                              {<class 'str'>}
IsRepeatedGuest                                                 {<class 'bool'>}
PreviousCancellations                                            {<class 'int'>}
PreviousBookingsNotCanceled                                      {<class 'int'>}
ReservedRoomType                                                 {<class 'str'>}
AssignedRoomType                                                 {<class 'str'>}
BookingChanges                                                   {<class 'int'>}
DepositType                                                      {<class 'str'>}
Agent                                                            {<class 'str'>}
Company                                                          {<class 'str'>}
DaysInWaitingList                                                {<class 'int'>}
CustomerType                                                     {<class 'str'>}
ADR                                                            {<class 'float'>}
RequiredCarParkingSpaces                                         {<class 'int'>}
TotalOfSpecialRequests                                           {<class 'int'>}
ReservationStatus                                                {<class 'str'>}
ReservationStatusDate          {<class 'pandas._libs.tslibs.timestamps.Timest...
dtype: object

Our data is now in their correct types üéäüéäüéä.